<!DOCTYPE html>
<html lang="zh-tw">

<head>

	<!-- SITE TITTLE -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>交換技能平台</title>

	<!-- FAVICON -->
	<!-- PLUGINS CSS STYLE -->
	<!-- <link href="plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet"> -->
	<!-- Bootstrap -->
	<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="plugins/bootstrap/css/bootstrap-slider.css">
	<!-- Font Awesome -->
	<link href="plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<!-- Owl Carousel -->
	<link href="plugins/slick-carousel/slick/slick.css" rel="stylesheet">
	<link href="plugins/slick-carousel/slick/slick-theme.css" rel="stylesheet">
	<!-- Fancy Box -->
	<link href="plugins/fancybox/jquery.fancybox.pack.css" rel="stylesheet">
	<link href="plugins/jquery-nice-select/css/nice-select.css" rel="stylesheet">
	<!-- CUSTOM CSS -->
	<link href="css/style.css" rel="stylesheet">
	

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body class="body-wrapper">
	<%-partial('partial/header')%>

	<!--===============================
=            Hero Area            =
================================-->

	<section class="hero-area bg-1 text-center overly">
	
		<!-- Container Start -->
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- Header Contetnt -->
					<div class="content-block">
						<h1>技能交換平台 </h1><br>
						<% if(status=="loggedIn" ){ %>
							<P>歡迎回來，<%=user.id_name%>
							</P>
							<p>趕快來搜尋您想要學習或刊登的技能吧</p>
							<%}else{%>
								<p>立即加入會員<br>開啟您的斜槓人生</p>
								<%}%>
									<div class="short-popular-category-list text-center">
										<h2>熱門類別</h2>
										<ul class="list-inline">
											<li class="list-inline-item">
												<a href="/skillClass1"><i class="fa fa-book"></i>學習</a>
											</li>
											<li class="list-inline-item">
												<a href="/skillClass2"><i class="fa fa-grav"></i>生活</a>
											</li>
											<li class="list-inline-item">
												<a href="/skillClass3"><i class="fa fa-car"></i>創意</a>
											</li>
											<li class="list-inline-item">
												<a href="/skillClass4"><i class="fa fa-terminal"></i>科技</a>
											</li>
											<li class="list-inline-item">
												<a href="/skillClass5"><i class="fa fa-bicycle"></i>娛樂</a>
											</li>
										</ul>
									</div>

					</div>
					<!-- Advance Search -->
					<div class="advance-search">
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-lg-12 col-md-12 align-content-center">
									<form id="Search" action="ad-list-view" method="GET">
										<div class="form-row">
											<div class="form-group col-md-8">
												<input type="text" class="form-control my-2 my-lg-1" id="Search" name="Search"
													placeholder="你想找什麼?">
											</div>
											<div class="form-group col-md-2">
												<select class="w-100 form-control mt-lg-1 mt-md-2" id="area" name="area" require>
													<option>地區</option>
													<option value="北部">北部</option>
													<option value="中部">中部</option>
													<option value="南部">南部</option>
													<option value="東部">東部</option>
													<option value="離島">離島</option>
												</select>
											</div>
											<div class="form-group col-md-2 align-self-center">
												<button type="submit" class="btn btn-primary">立即搜尋</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- Container End -->
	</section>

	<!--===================================
=            Client Slider            =
====================================-->


	<!--===========================================
=            Popular deals section            =
============================================-->

	<section class="popular-deals section bg-gray" >
		<div style=" font-weight: bold;
		top: 500px;
		left: 0px;
		color: white;
		display: block;
		text-align: center;
		position:fixed; z-index:1;">
		<a href="http://www.must.edu.tw/" title="明新科技大學"><img src="images/400C.png" alt="測試圖片" border="0"></a>
		</div>
		<div class="container" >
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h2>高評價技能</h2>
						<p>立即瀏覽評價最高的技能</p>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- offer 01 -->
				<div class="col-lg-12">
					<div class="trending-ads-slide">
						<% for(let i=0;i<data.length;i++){ %> 
						<div class="col-sm-12 col-lg-4">
							<!-- product card -->
							<div class="product-item bg-light">
								<div class="card">
									<div class="thumb-content">
										<a href="single?singleCase=<%=data[i].case_num %>">
											<img class="card-img-top img-fluid" src="images/products/products-<%=data[i].case_num % 7%>.jpg"
												alt="Card image cap">
										</a>
										<!-- <div class="price">$200</div> -->
										<a href="single?singleCase=<%=data[i].case_num %>" style="font-size: 20pt;">
										</a>
									</div>
									<div class="card-body">
										<h4 class="card-title"><a href="single?singleCase=<%=data[i].case_num %>"><%=data[i].caseinfo %> </a></h4>
										<ul class="list-inline product-meta">
											<li class="list-inline-item">
												<a href="single?singleCase=<%=data[i].case_num %>"><i class="fa fa-folder-open-o"></i><%=data[i].SkillClass %> </a>
											</li>
											<li class="list-inline-item">
												<a href="#"><i class="fa fa-calendar"></i><%=data[i].expectedTime.toDateString() %> </a>
											</li>
										</ul>
										<p class="card-text"><%=data[i].CaseInformation %> </p>
										<div class="product-ratings">
											<ul class="list-inline">
												<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
												<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<% } %>
					</div>
				</div>
					</div>
				</div>


			</div>
		</div>
	</section>
	<section class="popular-deals section bg-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h2>最熱門技能</h2>
						<p>最多人搜尋交換的技能</p>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- offer 01 -->
				<div class="col-lg-12">
					<div class="trending-ads-slide">
						<% for(let i=0;i<data.length;i++){ %> 
						<div class="col-sm-12 col-lg-4">
							<!-- product card -->
							<div class="product-item bg-light">
								<div class="card">
									<div class="thumb-content">
										<a href="single?singleCase=<%=data[i].case_num %>">
											<img class="card-img-top img-fluid" src="images/products/products-<%=(data[i].case_num +1) % 7%>.jpg"
												alt="Card image cap">
										</a>
										<!-- <div class="price">$200</div> -->
										<a href="single?singleCase=<%=data[i].case_num %>">
										</a>
									</div>
									<div class="card-body">
										<h4 class="card-title"><a href="single?singleCase=<%=data[i].case_num %>"><%=data[i].caseinfo %> </a></h4>
										<ul class="list-inline product-meta">
											<li class="list-inline-item">
												<a href="single.html"><i class="fa fa-folder-open-o"></i><%=data[i].SkillClass %> </a>
											</li>
											<li class="list-inline-item">
												<a href="#"><i class="fa fa-calendar"></i><%=data[i].expectedTime.toDateString() %> </a>
											</li>
										</ul>
										<p class="card-text"><%=data[i].CaseInformation %> </p>
										<div class="product-ratings">
											<ul class="list-inline">
												<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
												<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
												<li class="list-inline-item selected"><i class="fa fa-star-half-o"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
												<li class="list-inline-item"><i class="fa fa-star"></i></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<% } %>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
<%-partial('partial/footer')%>
</html>